{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Profile Update{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">email</label>
    <input name="email" id="email" required>
    <label for="lastname">lastname</label>
    <input type="lastname" name="lastname" id="lastname" required>
    <label for="firstname">firstname</label>
    <input name="firstname" id="firstname" required>
    <label for="description">description</label>
    <textarea name="description" id="description">{{ request.form['description'] }}</textarea>
      <input type="submit" value="Save">
  </form>


{% endblock %}
